<div class="ProductCard">
  <%= link_to [@cardItem.store, @cardItem],  class: "ProductCard__link" do %>
    <div class="ProductCard__content">
      <% if @cardItem.images.any? %>
        <%= image_tag @cardItem.images.first.variant(:thumb), class: "ProductCard__image" %>
      <% end %>
      <h3 class="ProductCard__name"><%= @cardItem.name %></h3>
      <p class="ProductCard__price"><%= number_to_currency(@cardItem.price) %></p>
    </div>
  <% end %>
  <% if @active_user && !helpers.current_store_admin %>
    <%= button_to "Add To Cart",
    user_cart_path(@active_user),
    params: {
      user_entity: @active_user.class.name,
      product_id: @cardItem.id,
      quantity: 1,
    },
    data: {
      turbo: false,
    },
    method: :patch,
    class: "ProductCard__shop-button" %>
  <% end %>
  <% if helpers.current_store_admin === @cardItem.store.store_admin %>
    <%= link_to "Edit",
    edit_store_product_path(@cardItem.store, @cardItem),
    class: "ProductCard__shop-button" %>
  <% end %>
</div>
