<div class="container mt-5 mx-auto sm:h-screen h-dvh">
  <h3 class="text-xl">Order:
    <%= @scoped_order_items.first.order.id %></h3>
  <div class="OrderSummary__items">
    <h4 class="OrderSummary__items-title">Order Items</h4>
    <ul class="OrderSummary__items-list">
      <% @scoped_order_items.each do |item| %>
        <li class="OrderSummary__item">
          <span class="OrderSummary__item-name"><%= item.product.name %></span>
          <span class="OrderSummary__item-name"><%= item.quantity %></span>
          <span class="OrderSummary__item-price"><%= number_to_currency(item.price) %></span>
        </li>
      <% end %>
    </ul>
    <div>
      <h3 class="text-xl">Tracking Information:</h3>
      <% if @scoped_order_items.first.order.shipping_details.empty? %>
        <p class="text-sm">This order hasn't shipped yet</p>
      <% else %>
        <div>
          <% @scoped_order_items.first.order.shipping_details.each do |details| %>
            <p class="text-sm">Carrier:
              <%= details.carrier %></p>
            <p class="text-sm">Tracking Number:
              <%= details.tracking_number %></p>
            <p class="text-sm">Shipping Date:
              <%= details.shipped_at %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
