<div class="container">
  <%= form_with model: [current_store_admin, store, product], data: {turbo: false}, class: 'ml-2 mr-2'  do |form| %>
    <div class="input-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "input" %>
    </div>
    <div class="input-group">
      <%= form.label :price %>
      <%= form.number_field :price,
                        value:
                          number_to_currency(
                            form.object.price.to_f,
                            delimiter: "",
                            unit: "",
                          ),
                        step: :any,
                        class: "input" %>
    </div>
    <div>
      <%= form.label :description %>
      <%= form.rich_textarea :description %>
    </div>
    <%#<div class="input-group"> %>
    <%#  <%= form.label :tag_list %>
    <%#  <%= form.text_field :tag_list, class: "input" %>
    <%#</div> %>
    <div>
      <%= form.checkbox :archived %>
      <%= form.label :archived, "Archive" %>
      <%= form.checkbox :out_of_stock, class: "ml-05" %>
      <%= form.label :out_of_stock %>
    </div>
    <% product.images.each do |image| %>
      <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
    <% end %>
    <div data-controller="file">
      <%= form.file_field :images, multiple: true, data: { action: "file#addFile" } %>
      <div data-file-target="files"></div>
    </div>
    <div>
      <%= form.button :submit, class: "button" %>
    </div>
  <% end %>
</div>
