<h1 class="text-2xl ml-2">
  <%= @product.name %>
</h1>

<div class="mb-2 mt-2 ml-2">
  <%= link_to "Edit",
  edit_store_admin_store_product_path(current_store_admin, @store, @product),
  class: "button" %>
</div>

<%= render ProductShowComponent.new(product: @product) do |component| %>
  <%= component.with_image_carousel(images: @product.images) %>
  <%= component.with_product_details(product: @product) %>
<% end %>

<%= link_to "Back to Products",
store_admin_store_products_path(current_store_admin, @store),
class: "danger-button ml-2" %>
