<h1>
  <%= @product.name %>
</h1>

<div class="Admin Product_container mb-05">
  <ul>
    <li>
      <%= link_to "Edit",
      edit_store_admin_store_product_path(current_store_admin, @store, @product) %>
    </li>
  </ul>
</div>

<%= render ProductShowComponent.new(product: @product) do |component| %>
  <%= component.with_image_carousel(images: @product.images) %>
  <%= component.with_product_details(product: @product) %>
<% end %>

<%= link_to "Back to Products",
store_admin_store_products_path(current_store_admin, @store) %>
