<% if @store.spotlight.attached? %>
  <div class="StoreEdit__spotlight-container">
    <%= image_tag @store.spotlight.variant(:thumb), class: "StoreEdit__spotlight-image" %>
    <%= button_to "Remove Image", store_remove_spotlight_path(@store), method: :post %>
  </div>
<% end %>

<%= simple_form_for store do |form| %>

  <div class="simple_form_inputs-50">
    <%= form.input :name %>
    <%= form.input :phone_number %>
    <%= form.input :location %>
    <%= form.input :email %>
    <%= form.input :mission_statement %>
    <%= form.input :spotlight %>

    <%= form.button :submit %>
    <%= link_to "Cancel", store, class: "btn btn--light" %>
  </div>
<% end %>
