<%= simple_form_for store do |form| %>
  <% if store.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(store.errors.count, "error") %>
        prohibited this product from being saved:</h2>

      <div>
        <%= store.errors.full_messages.to_sentence.capitalize %>
      </div>
    </div>
  <% end %>

  <%= form.input :name %>
  <%= form.input :phone_number %>
  <%= form.input :location %>
  <%= form.input :email %>
  <%= form.input :mission_statement %>
  <%= form.file_field :spotlight %>
  <div>
    <%= form.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
<%= link_to "Cancel", stores_path, class: "btn btn-secondary" %>
<% if @store.spotlight.attached? %>
  <div><%= image_tag @store.spotlight.variant(:thumb) %></div>
  <%= button_to "Remove Image", store_remove_spotlight_path(@store), method: :post %>
<% end %>
