<div class="Store__container" data-controller="store">
  <h1><%= @store.name %>
    Products</h1>
  <% if current_store_admin && @store.spotlight.attached? %>
    <div><%= image_tag @store.spotlight.variant(:thumb) %></div>
    <%= button_to "Remove Image", store_remove_spotlight_path(@store), method: :post %>
  <% end %>
  <% if current_store_admin %>
    <%#= link_to "New Product", new_product_path, data: { turbo_frame: dom_id(Product.new) } %>
    <%= link_to "New Product", new_store_product_path(@store) %>
  <% end %>

  <div class="grid-container">
    <% @products.each do |product| %>
      <%= render "products/product_card", product: product, store: @store %>
    <% end %>
  </div>

  <button
    data-action="store#toggleReviewForm"
    data-store-target="reviewFormTrigger"
  >Add Your Review</button>

  <%= render "reviews/form", reviewable: @store, review: @new_review %>

  <div class="Store__review-container">
    <% @store.reviews.each do |review| %>
      <%= review.title %>
    <% end %>
  </div>
</div>
