<div class="Store__container container">
  <h1 class="Store__name center-text"><%= @store.name %>
    Products</h1>
  <% if current_store_admin && @store.spotlight.attached? %>
    <%= turbo_frame_tag "store_#{@store_id}_spotlight" do %>
      <div class="StoreEdit__spotlight-container">
        <%= image_tag @store.spotlight.variant(:thumb), class: "StoreEdit__spotlight-image" %>
        <%= button_to "Remove Image", store_remove_spotlight_path(@store), method: :delete %>
      </div>
    <% end %>
  <% end %>
  <% if current_store_admin %>
    <%= link_to "New Product", new_store_product_path(@store) %>
  <% end %>

  <div class="grid-container">
    <% @products.each do |product| %>
      <%= render "products/product_card", product: product, store: @store %>
    <% end %>
  </div>

</div>
<%= render "store_reviews/add_review_button", store: @store %>

<%= turbo_frame_tag "store_reviews", data: {"turbo-action": "advance"} do %>
  <%= render "store_reviews/reviews", reviews: @reviews %>
<% end %>
