<div class="Store__container">
  <h1><%= @store.name %>
    Products</h1>
  <% if current_store_admin && @store.spotlight.attached? %>
    <%= turbo_frame_tag "store_#{@store_id}_spotlight" do %>
      <div class="StoreEdit__spotlight-container">
        <%= image_tag @store.spotlight.variant(:thumb), class: "StoreEdit__spotlight-image" %>
        <%= button_to "Remove Image", store_remove_spotlight_path(@store), method: :delete %>
      </div>
    <% end %>
  <% end %>
  <% if current_store_admin %>
    <%= link_to "New Product", new_store_product_path(@store) %>
  <% end %>

  <div class="grid-container">
    <% @products.each do |product| %>
      <%= render "products/product_card", product: product, store: @store %>
    <% end %>
  </div>

  <%= turbo_frame_tag @store.reviews.new do %>
    <%= link_to "Add Your Review",
    new_review_path(
      { reviewable_class: @store.class.name, reviewable_id: @store.id },
    ),
    class: "button-link" %>
  <% end %>

  <div class="Store__review-container">
    <% @store.reviews.each do |review| %>
      <%= review.title %>
    <% end %>
  </div>
</div>
