<div class="Store__container mx-auto container">

  <h1 class="text-2xl text-center"><%= @store.name %>
    Products</h1>

  <%= turbo_frame_tag "store_image", src: store_store_image_path(@store, 1) do %>
    <div class="card skeleton">
      <div class="image shimmer"></div>
      <div class="title shimmer"></div>
      <div class="price shimmer"></div>
      <div class="edit shimmer"></div>
    </div>
  <% end %>

  <%= turbo_frame_tag "store_products",  src: store_products_path(@store) do %>
    <%#TODO: Extract into SkeletonCardComponent %>
    <div class=" flex flex-row flex-wrap justify-around gap-1.5 mb-2">
      <% 6.times do %>
        <div class="card skeleton">
          <div class="image shimmer"></div>
          <div class="title shimmer"></div>
          <div class="price shimmer"></div>
          <div class="edit shimmer"></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= render "store_reviews/add_review_button", store: @store %>

<%= turbo_frame_tag "store_reviews", src: store_store_reviews_path(@store) do %>
  Loading...
<% end %>
