<div class="container w-1/2 mx-auto" data-controller="file-format">
  <%= form_with model: [current_store_admin, current_store_admin.store, fulfillment_partner.becomes(FulfillmentPartner)], data: {turbo: false}, class: 'ml-2 mr-2'  do |form| %>
    <div class="input-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "input" %>
    </div>
    <div class="input-group">
      <%= form.label :location %>
      <%= form.text_field :location, class: "input" %>
    </div>
    <div class="input-group">
      <%= form.label :type %>
      <%= form.select :type,
                  { options: [%w[CSV CsvPartner], %w[JSON JsonPartner]] },
                  { required: true, include_blank: "Select file format" },
                  data: {
                    action: "change->file-format#update",
                  },
                  class:
                    "rounded-sm border border-solid border-gray-400 border-gray-400" %>

    </div>
    <div class="hidden" data-file-format-target="csvHeaders">
      <%= form.fields_for :csv_headers do |csv_form| %>
        <% CsvPartner::CSV_HEADER_OPTIONS.each do |header_option| %>
          <%= csv_form.label header_option %>
          <%= csv_form.check_box header_option,
                             { class: "rounded-sm border border-solid border-gray-400" },
                             true,
                             false %>
        <% end %>
      <% end %>
    </div>
    <div class="hidden" data-file-format-target="fileSchemaJson">
      <%= form.label :file_schema_json %>
      <%= form.file_field :file_schema_json,
                      class: "border border-solid border-gray-400 rounded-sm pl-2" %>
    </div>
    <div class="mt-4">
      <%= form.button :submit, class: "button" %>
    </div>
  <% end %>
</div>
