<% if current_store_admin.store.persisted? %>
  <%= turbo_frame_tag "store_image", src: store_admin_store_store_image_path(current_store_admin, store, 1) do %>
    <%#TODO: Extract into SkeletonCardComponent %>
    <div class="StoreEdit__spotlight-container mx-center">
      <div class="card skeleton">
        <div class="image shimmer"></div>
        <div class="title shimmer"></div>
        <div class="price shimmer"></div>
        <div class="edit shimmer"></div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="sm:w-1/2 mx-2">
  <%= form_with model: [current_store_admin, store], class: "mb-4" do |form| %>
    <div class="my-2 flex flex-row justify-between">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="my-2 flex flex-row justify-between">
      <%= form.label :phone_number %>
      <%= form.telephone_field :phone_number, class: "input" %>
    </div>

    <div class="my-2 flex flex-row justify-between">
      <%= form.label :location %>
      <%= form.text_field :location, class: "input" %>
    </div>

    <div class="my-2 flex flex-row justify-between">
      <%= form.label :email %>
      <%= form.email_field :email, class: "input" %>
    </div>

    <div class="my-2 flex flex-row justify-between">
      <%= form.label :mission_statement %>
      <%= form.text_field :mission_statement, class: "input" %>
    </div>

    <div>
      <%= form.button :submit, class: "button" %>
    </div>

  <% end %>
  <%= link_to "Cancel", [current_store_admin, store], class: "danger-button" %>
</div>
