<%= turbo_frame_tag "store_image", src: store_admin_store_store_image_path(current_store_admin, store, 1) do %>
  <%#TODO: Extract into SkeletonCardComponent %>
  <div class="StoreEdit__spotlight-container mx-center">
    <div class="card skeleton">
      <div class="image shimmer"></div>
      <div class="title shimmer"></div>
      <div class="price shimmer"></div>
      <div class="edit shimmer"></div>
    </div>
  </div>
<% end %>

<div class="mx-center w-40">
  <%= form_with model: [current_store_admin, store] do |form| %>
    <div class="form-input">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="form-input">
      <%= form.label :phone_number %>
      <%= form.telephone_field :phone_number %>
    </div>

    <div class="form-input">
      <%= form.label :location %>
      <%= form.text_field :location %>
    </div>

    <div class="form-input">
      <%= form.label :email %>
      <%= form.email_field :email %>
    </div>

    <div class="form-input">
      <%= form.label :mission_statement %>
      <%= form.text_field :mission_statement %>
    </div>

    <div>
      <%= form.button :submit %>
    </div>

    <%= link_to "Cancel", [current_store_admin, store], class: "btn btn--light" %>
  <% end %>
</div>
