HELLO
<div class="Store__container container">

  <h1 class="Store__name center-text"><%= @store.name %>
    Products</h1>
  <% if current_store_admin == @store.store_admin && @store.spotlight.attached? %>
    <%= turbo_frame_tag "store_#{@store_id}_spotlight" do %>
      <div class="StoreEdit__spotlight-container">
        <%= image_tag @store.spotlight.variant(:thumb), class: "StoreEdit__spotlight-image" %>
        <%= button_to "Remove Image", store_remove_spotlight_path(@store), method: :delete %>
      </div>
    <% end %>
  <% end %>

  <% if current_store_admin == @store.store_admin %>
    <%= link_to "New Product",
    new_store_admin_store_product_path(current_store_admin, @store) %>
  <% end %>

  <%= turbo_frame_tag "store_products", src: store_admin_store_products_path(current_store_admin, @store) do %>
    <%#TODO: Extract into SkeletonCardComponent %>
    <div class="Store__product_container mb-05">
      <% 6.times do %>
        <div class="card skeleton">
          <div class="image shimmer"></div>
          <div class="title shimmer"></div>
          <div class="price shimmer"></div>
          <div class="edit shimmer"></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= turbo_frame_tag "store_reviews", data: {"turbo-action": "advance"} do %>
  <%= render "store_reviews/reviews", reviews: @reviews %>
<% end %>
