  <%= render TooltipComponent.new(tooltip_text: "All updates handled via stimulus for optimistic updates. Also updates the cart total and the cart count in the navbar") do %>
<div class="flex flex-row items-center justify-center gap-2" data-controller="cart">
  <button
    class="w-8 h-8 flex items-center justify-center text-white bg-indigo-600 hover:bg-indigo-700 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    data-cart-url-param="<%="/user/#{@active_user.id}/cart/cart_items/#{item.id}"%>"
    data-cart-user-id-param="<%= @active_user.id %>"
    data-cart-user-entity-param="<%= @active_user.class.name %>"
    data-cart-item-id-param="<%= item.product.id %>"
    data-cart-item-price-param="-<%= item.product.price %>"
    data-cart-update-val-param="-1"
    data-action="click->cart#update"
  >
    -
  </button>
  <span class="text-gray-700 font-medium text-lg min-w-[20px] text-center" data-cart-target="toBeUpdated"><%= item.quantity %></span>
  <button
    class="w-8 h-8 flex items-center justify-center text-white bg-indigo-600 hover:bg-indigo-700 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    data-cart-url-param="<%="/user/#{@active_user.id}/cart/cart_items/#{item.id}"%>"
    data-cart-user-id-param="<%= @active_user.id %>"
    data-cart-user-entity-param="<%= @active_user.class.name %>"
    data-cart-item-id-param="<%= item.product.id %>"
    data-cart-item-price-param="<%= item.product.price %>"
    data-cart-update-val-param="1"
    data-action="click->cart#update"
  >
    +
  </button>
</div>
<% end %>