<div
  class="max-w-lg mx-auto bg-white p-8 rounded-xl shadow-md"
  data-controller="service-form"
>
  <%= form_with model: [current_store_admin, current_store_admin.store, service.becomes(Service)], class: 'space-y-6' do |form| %>
    <div class="space-y-2">
      <%= form.label :name,
                 "Service Name",
                 class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :name,
                      class:
                        "mt-1 block w-full rounded-md border-2 border-gray-400 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 px-2 py-1" %>
    </div>

    <div class="space-y-2">
      <%= form.label :description,
                 "Description",
                 class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_area :description,
                     class:
                       "mt-1 block w-full rounded-md border-2 border-gray-400 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 px-2 py-1" %>
    </div>

    <div class="space-y-2">
      <%= form.label :type,
                 "Service Type",
                 class: "block text-sm font-medium text-gray-700" %>
      <%= form.select :type,
                  {
                    "Static Service" => "StaticService",
                    "Dynamic Service" => "DynamicService",
                  },
                  { required: true },
                  {
                    data: {
                      action: "change->service-form#toggleFields",
                    },
                    class:
                      "mt-1 block w-full rounded-md border-2 border-gray-400 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50",
                  } %>
    </div>

    <div class="space-y-2" data-service-form-target="staticFields">
      <div class="space-y-2">
        <%= form.label :rate_per_hour,
                   "Rate per hour (in dollars)",
                   class: "block text-sm font-medium text-gray-700" %>
        <div class="flex">
          <span class="content-center">$</span><%= form.text_field :rate_per_hour,
                          class:
                            "ml-1 mt-1 block w-full rounded-md border-2 border-gray-400 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 px-2 py-1" %>
        </div>
      </div>

      <div class="space-y-2">
        <%= form.label :duration_in_hours,
                   "Duration (in hours)",
                   class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :duration_in_hours,
                        class:
                          "mt-1 block w-full rounded-md border-2 border-gray-400 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 px-2 py-1" %>
      </div>
    </div>

    <div
      class="p-5 border-2 border-gray-400 rounded-md bg-gray-50 hidden"
      data-service-form-target="dynamicFields"
    >
      <div class="flex items-center space-x-3">
        <%= form.check_box :is_quote_needed,
                       {
                         class:
                           "h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded",
                       },
                       true,
                       false %>
        <%= form.label :is_quote_needed,
                   "Requires quote before final pricing",
                   class: "text-sm text-gray-700" %>
      </div>
    </div>

    <div class="pt-4">
      <%= form.submit service.persisted? ? "Update Service" : "Create Service",
                  class:
                    "w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    </div>
  <% end %>
</div>
