<% back_path =
  (
    if review.new_record?
      store_path(review.reviewable)
    else
      store_store_review_path(review.reviewable, review)
    end
  ) %>
<% if review.errors.any? %>
  <div id="error_explanation">
    <h6><%= pluralize(review.errors.count, "error") %>
      prohibited this store_review from being saved:</h6>

    <ul>
      <% review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="StoreReview__form">
  <h2>Review for
    <%= review.reviewable.name.capitalize %></h2>
  <%= form_with model: [review.reviewable, review], url: review.new_record? ? store_store_reviews_path(review.reviewable) : store_store_review_path(review.reviewable, review) do |f| %>
    <div class="form-input">
      <%= f.label :title %>
      <%= f.text_field :title, required: true %>
    </div>
    <div class="form-input">
      <%= f.label :body %>
      <%= f.text_area :body, required: true %>
    </div>
    <div class="mt-1">
      <%= f.submit class: "button-link" %>
      <%= link_to "Cancel", back_path %>
    </div>
  <% end %>
</div>
