<%#= simple_form_for [store, product] do |form| %>

<%#<div class="simple_form_inputs" data-controller="multiple-file-upload"> %>
<%#= form.input :name %>
<%#= form.input :price %>
<%#= form.input :description, as: :rich_text_area %>
<%#= form.input :out_of_stock, wrapper: :inline_checkbox %>
<%#= form.input :archived, wrapper: :inline_checkbox %>
<%#</div> %>

<%= form_with model: [store, product] do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%# TODO: this isn't right %>
  <% product.images do |image| %>
    <%= form.file_field :images, multiple: true, value: image.signed_id %>
  <% end %>
  <div data-controller="file">
    <%= form.file_field :images, multiple: true, data: { action: "file#addFile" } %>
    <div data-file-target="files"></div>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<%#= form.button :submit %>
<%= link_to "Cancel", store, class: "btn btn--light" %>
<%# end %>
