<%= simple_form_for [store, product] do |form| %>

  <div class="simple_form_inputs">
    <%= form.input :name %>
    <%= form.input :price %>
    <%= form.input :description, as: :rich_text_area %>
    <%= form.input :out_of_stock, wrapper: :inline_checkbox %>
    <%= form.input :archived, wrapper: :inline_checkbox %>
  </div>

  <%= form.button :submit %>
  <%= link_to "Cancel", store, class: "btn btn--light" %>
<% end %>
