<%= render ProductShowComponent.new(product: @product) do |component| %>
  <%= component.with_image_carousel(images: @product.images) %>
  <%= component.with_product_details(product: @product) %>
<% end %>

<div class="ml-5 mr-5 md:container md:mx-auto mt-5">
  <%= render "product_reviews/add_review_button", product: @product %>

  <div class="container mx-auto px-4">
    <div class="mb-6 flex flex-col items-center">
      <%= render TooltipComponent.new(tooltip_text: "Reviews are loaded via turbo_frames, enabling easy loading visuals and encapsulation of logic") do %>
        <h1 class="text-xl font-bold text-gray-800 mb-2">Product Reviews</h1>
        <div class="h-1 w-24 bg-indigo-600 rounded"></div>
      <% end %>
    </div>
  </div>
  <%= render "product_reviews", reviews: @reviews, pagy_reviews: @pagy_reviews %>
</div>
