<%= turbo_frame_tag "product_#{@product.id}" do %>
  <%= render(ProductDetailsComponent.new(product: @product)) %>
<% end %>

<%= render(CarouselComponent.new(images: @product.images)) %>

<div class="ProductReview__section">
  <%= render "product_reviews/add_review", product: @product %>

  <%= turbo_frame_tag "product_reviews" do %>
    <%= render "product_reviews/reviews", reviews: @product.reviews.ordered %>
  <% end %>
</div>

<%= tag.div link_to "Back to store", store_path(@product.store) %>
