<%= render "products/product_card", store: @product.store, product: @product %>

<% if @product.tag_list.any? %>
  <div class="Product__tags">
    <% @product.tag_list.each do |tag| %>
      <span class="Product__tag"><%= tag %></span>
    <% end %>
  </div>
<% end %>

<div
  class="Product__dialog__container"
  data-controller="dialog"
  data-action="click->dialog#backdropClose"
>
  <dialog data-dialog-target="dialog" class="Product__dialog__content">
    <%= render(CarouselComponent.new(images: @product.images)) %>
    <button
      class="Product__dialog__closeButton"
      type="button"
      data-action="dialog#close"
      autofocus
    >Cancel</button>
  </dialog>

  <button
    class="Product__dialog__openButton"
    type="button"
    data-action="dialog#open"
  >View Images</button>
</div>

<%= render "product_reviews/add_review", product: @product %>

<%= turbo_frame_tag "product_reviews" do %>
  <%= render "product_reviews/reviews", reviews: @product.reviews.ordered %>
<% end %>

<%= tag.div link_to "Back to store", store_path(@product.store) %>
