<%= render ProductShowComponent.new(product: @product) do |component| %>
  <%= component.with_image_carousel(images: @product.images) %>
  <%= component.with_product_details(product: @product) %>
<% end %>

<div class="ml-5 mr-5 md:container md:mx-auto">
  <%= render "product_reviews/add_review_button", product: @product %>

  <%= render "product_reviews", reviews: @reviews, pagy_reviews: @pagy_reviews %>
</div>
