<%= turbo_frame_tag "product_#{@product.id}" do %>
  <h1 class="Product__Header">
    <%= @product.name %>
  </h1>
  <%= link_to "Edit",
  edit_store_product_path(@product.store, @product),
  data: {
    turbo_frame: "product_#{@product.id}",
  } %>
  <%= @product.price %>
  <%= @product.archived? ? "Archived" : "Active" %>

  <%= render(
    ProductTagComponent.with_collection(@product.tag_list, product: @product),
  ) %>
<% end %>

<%= render(CarouselComponent.new(images: @product.images)) %>

<div class="ProductReview__section">
  <%= render "product_reviews/add_review", product: @product %>

  <%= turbo_frame_tag "product_reviews" do %>
    <%= render "product_reviews/reviews", reviews: @product.reviews.ordered %>
  <% end %>
</div>

<%= tag.div link_to "Back to store", store_path(@product.store) %>
