<%# TODO: need to give this a responsive menu or a redesign. Looks ugly on mobile, but i don't care right now as it's admin display %>
<% if current_store_admin %>
  <div class="Navbar">
    <div class="Navbar__brand">
      <%= link_to store_admin_root_path do %>
        <i class="fa-brands fa-forumbee" title="MarketHive"></i>
      <% end %>
    </div>
    <div class="Navbar__menu">
      <%#= render "shared/#{user_type}_links", path: "orders_index" %>
      <%= render "shared/#{user_type}_links", path: "cart_show" %>
      <% if current_store_admin && current_store_admin.try(:store).try(:persisted?) %>
        <%= render "shared/#{user_type}_links", path: "edit_store" %>
      <% elsif current_store_admin && current_store_admin.store.nil? %>
        <%= render "shared/#{user_type}_links", path: "new_store" %>
      <% end %>
      <% if current_store_admin && current_store_admin.store.present? %>
        <%= render "shared/#{user_type}_links", path: "show_store" %>
      <% end %>
    </div>
    <div class="Navbar__menu account-icon">
      <%= link_to store_admin_root_path, class: "account-icon" do %>
        <i class="fa-solid fa-home"></i>
      <% end %>
    </div>
  </div>
<% end %>
